<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger mt-3">
    <h4 class="alert-heading">
      <%= t('plural.error', count: errors.count) %>:
    </h4>
    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
